**1** Load dataset nyc_weather_2018 and weather_stations, then calculate the average elevation of stations that calculat‘SNOW’ and contains ‘NJ US’ in its name.

In [21]:
import pandas as pd
import numpy as np

In [22]:
station_infor = pd.read_csv("/content/weather_stations.csv")
weather = pd.read_csv("/content/nyc_weather_2018.csv")

In [23]:
station_infor.head()

                  id                           name  ...  longitude  elevation
0  GHCND:US1CTFR0022        STAMFORD 2.6 SSW, CT US  ... -73.577000       36.6
1  GHCND:US1CTFR0039          STAMFORD 4.2 S, CT US  ... -73.568176        6.4
2  GHCND:US1NJBG0001      BERGENFIELD 0.3 SW, NJ US  ... -74.001983       20.1
3  GHCND:US1NJBG0002  SADDLE BROOK TWP 0.6 E, NJ US  ... -74.083358       16.8
4  GHCND:US1NJBG0003           TENAFLY 1.3 W, NJ US  ... -73.977500       21.6

[5 rows x 5 columns]

In [24]:
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [25]:
station_infor.rename(columns={"id":"station"},inplace=True)
station_infor.head()

             station                           name  ...  longitude  elevation
0  GHCND:US1CTFR0022        STAMFORD 2.6 SSW, CT US  ... -73.577000       36.6
1  GHCND:US1CTFR0039          STAMFORD 4.2 S, CT US  ... -73.568176        6.4
2  GHCND:US1NJBG0001      BERGENFIELD 0.3 SW, NJ US  ... -74.001983       20.1
3  GHCND:US1NJBG0002  SADDLE BROOK TWP 0.6 E, NJ US  ... -74.083358       16.8
4  GHCND:US1NJBG0003           TENAFLY 1.3 W, NJ US  ... -73.977500       21.6

[5 rows x 5 columns]

In [26]:
data = station_infor.merge(weather,on="station",how='inner') \
                            .drop_duplicates(["station","datatype"]).reset_index(drop=True)

In [27]:
data.shape

(633, 9)

In [28]:
snow_avg= data.query('datatype=="SNOW" and name.str.contains("NJ US")',engine="python")
snow_avg.elevation.mean()

58.348484848484865

**2** Load the fb dataset, then:\
•Calculate the percentage change between that and and last day in volumn (pct_change method)\
•Sort the dataframe by percentage change then get five days that have the biggest change.

In [29]:
fb_2018 = pd.read_csv("/content/fb_2018.csv")

In [30]:
fb_p = fb_2018.assign(p_change = lambda x: x.volume.pct_change())
fb_p

           date    open    high       low   close    volume  p_change
0    2018-01-02  177.68  181.58  177.5500  181.42  18151903       NaN
1    2018-01-03  181.88  184.78  181.3300  184.67  16886563 -0.069708
2    2018-01-04  184.90  186.21  184.0996  184.33  13880896 -0.177992
3    2018-01-05  185.59  186.90  184.9300  186.85  13574535 -0.022071
4    2018-01-08  187.20  188.90  186.3300  188.28  17994726  0.325624
..          ...     ...     ...       ...     ...       ...       ...
246  2018-12-24  123.10  129.74  123.0200  124.06  22066002 -0.612207
247  2018-12-26  126.00  134.24  125.8900  134.18  39723370  0.800207
248  2018-12-27  132.44  134.99  129.6700  134.52  31202509 -0.214505
249  2018-12-28  135.34  135.92  132.2000  133.20  22627569 -0.274816
250  2018-12-31  134.45  134.64  129.9500  131.09  24625308  0.088288

[251 rows x 7 columns]

In [31]:
fb_2018['shift_vol']=fb_2018.volume.shift(1)
fb_2018.head()

         date    open    high       low   close    volume   shift_vol
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903         NaN
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563  18151903.0
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896  16886563.0
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535  13880896.0
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726  13574535.0

In [32]:
fb_p2 = fb_2018.assign(p_change = lambda x: (x.volume.sub(x.shift_vol)).div(x.shift_vol))
fb_p2.head()

         date    open    high       low   close    volume   shift_vol  p_change
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903         NaN       NaN
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563  18151903.0 -0.069708
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896  16886563.0 -0.177992
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535  13880896.0 -0.022071
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726  13574535.0  0.325624

In [33]:
fb_p2.sort_values(by=("p_change"),ascending=False).head()

           date    open    high  ...     volume   shift_vol  p_change
8    2018-01-12  178.06  181.48  ...   77551299   9588587.0  7.087876
52   2018-03-19  177.01  177.17  ...   88140060  24403438.0  2.611789
142  2018-07-26  174.89  180.13  ...  169803668  64592585.0  1.628841
182  2018-09-21  166.64  167.25  ...   45994800  18936038.0  1.428956
57   2018-03-26  160.82  161.10  ...  126116634  53609706.0  1.352496

[5 rows x 8 columns]

**3** Create bins for each full number of earthquake magnitude (for instance, the first bin is (0, 1], the second is (1, 2], and so on) with the ml magnitude type and count how many are in each bin.

In [34]:
earthquakes = pd.read_csv("earthquakes.csv")
earthquakes.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [35]:
mag_ml = earthquakes[earthquakes.magType=="ml"]
earthquakes = earthquakes.assign(mag_bin = pd.cut(mag_ml.mag,bins=5,labels=["nor","low","med","high","dangerous"]))
earthquakes.mag_bin.value_counts()

low          2990
med          2921
nor           509
high          372
dangerous      11
Name: mag_bin, dtype: int64

**4** Load the dataset weather_by_station then:\
•Calculate the mean value each station recorded snow per month.\
•Count the number of times each station recorded snow per month.

In [36]:
weather_by_station = pd.read_csv("/content/weather_by_station.csv")

In [37]:
weather_by_station.head()

         date datatype  ... value                    station_name
0  2018-01-01     PRCP  ...   0.0           STAMFORD 4.2 S, CT US
1  2018-01-01     PRCP  ...   0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2  2018-01-01     SNOW  ...   0.0  NORTH ARLINGTON 0.7 WNW, NJ US
3  2018-01-01     PRCP  ...   0.0        GLEN ROCK 0.7 SSE, NJ US
4  2018-01-01     SNOW  ...   0.0        GLEN ROCK 0.7 SSE, NJ US

[5 rows x 5 columns]

In [38]:
weather_by_station = weather_by_station.assign(month = pd.DatetimeIndex(weather_by_station.date).month )

In [39]:
weather_by_station.head()

         date datatype  ...                    station_name  month
0  2018-01-01     PRCP  ...           STAMFORD 4.2 S, CT US      1
1  2018-01-01     PRCP  ...  NORTH ARLINGTON 0.7 WNW, NJ US      1
2  2018-01-01     SNOW  ...  NORTH ARLINGTON 0.7 WNW, NJ US      1
3  2018-01-01     PRCP  ...        GLEN ROCK 0.7 SSE, NJ US      1
4  2018-01-01     SNOW  ...        GLEN ROCK 0.7 SSE, NJ US      1

[5 rows x 6 columns]

In [41]:
pd.crosstab(index = weather_by_station.station, columns = weather_by_station.month, colnames=['month'], values = weather_by_station.value, aggfunc=np.mean)

month                      1           2   ...          11          12
station                                    ...
GHCND:US1CTFR0039    9.762857    9.906452  ...    5.610000    6.659091
GHCND:US1NJBG0003   14.255556   23.450000  ...    9.322000    3.839474
GHCND:US1NJBG0010         NaN         NaN  ...   19.200000         NaN
GHCND:US1NJBG0015    6.207692    6.457143  ...    9.421429    3.216327
GHCND:US1NJBG0017   11.339506    9.320000  ...   10.506250    2.805455
...                       ...         ...  ...         ...         ...
GHCND:USW00054787  184.486022  165.691829  ...  176.031769  185.034708
GHCND:USW00094728   50.235061   48.336184  ...    5.556213    2.732143
GHCND:USW00094741  180.712143  175.291188  ...  192.344211  179.765398
GHCND:USW00094745  180.765950  179.858984  ...  194.783929  195.080069
GHCND:USW00094789   46.194183   44.171598  ...   47.131161   41.066298

[109 rows x 12 columns]

In [42]:
pd.crosstab(index = weather_by_station.station, columns = weather_by_station.month, colnames=['month'])

month               1    2    3    4    5    6    7    8    9    10   11   12
station
GHCND:US1CTFR0039   35   31   36   23   31   19   31   24   30   31   30   22
GHCND:US1NJBG0003    9   22   32   50   20   18   13   29   43   48   50   38
GHCND:US1NJBG0010    0    0    2    8   13   11   13   13   11    5    6    0
GHCND:US1NJBG0015   52   42   56   44   48   47   51   39   33   37   42   49
GHCND:US1NJBG0017   81   40   84   51   39   44   42   36   39   42   48   55
...                ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
GHCND:USW00054787  279  257  279  270  279  270  279  279  270  279  277  291
GHCND:USW00094728  328  304  328  325  336  324  342  345  299  235  169  168
GHCND:USW00094741  280  261  284  271  279  270  279  279  270  279  285  289
GHCND:USW00094745  279  256  279  270  279  270  279  279  271  279  280  291
GHCND:USW00094789  361  338  356  352  367  349  361  367  348  356  353  362

[109 rows x 12 columns]